<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Enrollment</title>
    <link rel="stylesheet" type="text/css" th:href="@{Layout.css}" />
</head>
<body>
<h1>Enroll Child</h1>
<form method="Post" th:action="@{/Medlem}">
    <p>Fornavn:</p>
    <input   type="text"   th:field="${kids.firstName}"   />
    <p>Efternavn:</p>
    <input   type="text"   th:field="${kids.lastName}"/>
    <p>Fødselsdato:</p>
    <input   type="date"   th:field="${kids.BirthDate}"/>
    <p>Forælders Navn:</p>
    <input   type="text"   th:field="${kids.parentName}"/>
    <p>Forælders TLF::</p>
    <input   type="text"   th:field="${kids.TLF}"/>

    <input   type="submit"   value="Gem"   />
</form>
</body>
</html>